@import
'_custom_bootstrap_vatiables.scss',
'../../bower_components/bootstrap/scss/_functions.scss',
'../../bower_components/bootstrap/scss/_variables.scss',
'../../bower_components/bootstrap/scss/_mixins.scss',
'_param';
.long_bar{
	background: #f3f3f3;
	position: relative;
	z-index: 1;
	
	 @include media-breakpoint-down(xs) {
		justify-content:center;
	 }
	&:before{
		position: absolute;
		top: 0;
		left: 50%;
		height: 100%;
		width: 99999px;
		transform:translateX(-50%);
		background: #f3f3f3;
		content: '';
		z-index: -1;
		
	}
}
.soc_list{
	margin-right: 10px;
	margin-left: 10px;
	a{
		font-size: 20px;
		color: #898888;
		text-decoration: none;
		&:hover{
			color: #3083c7;
		}
	}
}
.block_article{
	border-bottom: 1px solid #ddd;
}
h3{
	font-size: 18px;
	line-height: 30px;
	font-weight: bold;
}